In [2]:
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

In [5]:
russel = pd.read_csv("RUSSEL2000.csv")
russel_2017_2019 = russel[(russel['Date'] >= '2017-01-01') & (russel['Date'] <= '2019-12-31')]
russel_2020_2022 = russel[(russel['Date'] >= '2020-01-01') & (russel['Date'] <= '2022-12-31')]

# Exporter les données filtrées vers de nouveaux fichiers CSV
russel_2017_2019.to_csv('russel_2017_2019.csv', index=False)
russel_2020_2022.to_csv('russel_2020_2022.csv', index=False)

cac = pd.read_csv("CAC40.csv")
cac_2017_2019 = cac[(cac['Date'] >= '2017-01-01') & (cac['Date'] <= '2019-12-31')]
cac_2020_2022 = cac[(cac['Date'] >= '2020-01-01') & (cac['Date'] <= '2022-12-31')]

# Exporter les données filtrées vers de nouveaux fichiers CSV
cac_2017_2019.to_csv('cac_2017_2019.csv', index=False)
cac_2020_2022.to_csv('cac_2020_2022.csv', index=False)



russel

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,1357.989990,1375.089966,1355.390015,1365.489990,1365.489990,3773010000
1,2017-01-04,1366.699951,1388.599976,1366.699951,1387.949951,1387.949951,3768890000
2,2017-01-05,1387.709961,1387.709961,1366.569946,1371.939941,1371.939941,3785080000
3,2017-01-06,1372.489990,1375.060059,1366.819946,1367.280029,1367.280029,3342080000
4,2017-01-09,1367.130005,1367.130005,1356.540039,1357.489990,1357.489990,3219730000
...,...,...,...,...,...,...,...
1505,2022-12-23,1753.199951,1761.239990,1743.739990,1760.930054,1760.930054,2819280000
1506,2022-12-27,1761.380005,1761.650024,1745.439941,1749.520020,1749.520020,3030300000
1507,2022-12-28,1749.930054,1753.930054,1722.020020,1722.020020,1722.020020,3083520000
1508,2022-12-29,1727.329956,1767.910034,1727.329956,1766.250000,1766.250000,3003680000
1509,2022-12-30,1759.260010,1763.930054,1747.229980,1761.250000,1761.250000,2979870000